body {
    margin: 0px;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

.cabecalho {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px;
}

.header {
    background-color: rgb(20, 20, 20);
    display: flex;
    padding: 20px;
    color: black;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.menu li{
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
}

.menu li a {
    display: block;
    padding: 10px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.menu li a:hover {
    background-color: #0097A7;
}

.botao-cabecalho {
    background-color: rgb(20, 20, 20);
    border: none;
}

.container {
    justify-content: center;
    justify-items: center;
    display: flex;
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.logo {
    margin-left: 50px;
    height: 70px;
    width: 70px;
    background-image: url(/imagens/logo_bonsai.png);
    background-color: rgb(20, 20, 20);
}